{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<h1>Velp - Bookings</h1>

<a href="{% url 'booking:create_booking' %}">
  <button>+ Add Booking</button>
</a>


<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>


<h5>Last login session: {{ last_login }}</h5>
<hr>


<!-- <a href="?filter=all">
    <button type="button">All Articles</button>
</a>
<a href="?filter=my">
    <button type="button">My Articles</button>
</a> -->


<b><p>Scroll through our list of bookings!</p></b>


{% if not booking_list %}
<p>No booking data available in Velp.</p>


{% else %}


{% for booking in booking_list %}
<hr>
<div>
<h2><a href="{% url 'booking:show_booking' booking.id %}">{{ booking.venue }}</a></h2>
<p>{{booking.number_of_people}} people</p>


<p>
    <a href="{% url 'booking:show_booking' booking.id %}"><button>Read More</button></a>
    <a href="{% url 'booking:edit_booking' booking.pk %}">
        <button>
            Edit
        </button>
    </a>
    <a href="{% url 'booking:delete_booking' booking.pk %}">
    <button>
        Delete
    </button>
    </a>

</p>


</div>


<hr>
{% endfor %}

{% endif %}

{% endblock content %}
