{% extends 'base.html' %}
{% load humanize static %}
{% block content %}

<h1>Book Venue: {{ venue.name }}</h1>
<p><b>City:</b> {{ venue.CityName }} &nbsp; <b>Street:</b> {{ venue.StreetName }}</p>
<p><b>Price per hour:</b> Rp {{ venue.price_per_hour|intcomma }}</p>

<form id="booking-form" method="post" action="{% url 'main:create_booking_ajax' venue.id %}">
    {% csrf_token %}

    <div id="ajax-errors"></div>

    <p>
        <label>Date</label><br>
        {{ form.date }}
    </p>

    <p>
        <label>Start hour</label><br>
        {{ form.start_hour }}
    </p>

    <p>
        <label>Duration (hours)</label><br>
        {{ form.duration_hours }}
    </p>

    <p>
        <label>Payment method</label><br>
        {{ form.payment_method }}
    </p>

    <button type="submit">Create Booking</button>
</form>

<p><a href="{% url 'main:show_venue' venue.id %}">← Back to venue</a></p>

<script src="{% static 'js/booking.js' %}"></script>

{% endblock %}
