{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% endblock meta %}

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/community.css' %}">
  <meta name="csrf-token" content="{{ csrf_token }}">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}


  {% include "community_modal.html" %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          crossorigin="anonymous"></script>

  {# Your app JS #}
  <script src="{% static 'js/community.js' %}" defer></script>
</body>
</html>
