<nav>
  <h1>Velp</h1>

  <ul>
    <li><a href="/">Home</a></li>
    
    {% if user.is_authenticated  and user.username == "ADMIN" %}
    <li><a href="{% url 'main:create_venue' %}">Add Venue</a></li>
    {% endif %}

    <li><a href="{% url 'review:add_review_general' %}">Review</a></li>
    <li><a href="{% url 'community:group_list' %}">Community</a></li>
    <li><a href="{% url 'posts:list' %}">Posts</a></li>
    <li><a href="{% url 'main:booking_list' %}">My Bookings</a></li>
  </ul>

  {% if user.is_authenticated %}
    <div>
      <span>Welcome, {{ name|default:user.username }}</span>
      <a href="{% url 'main:logout' %}">Logout</a>
    </div>
  {% else %}
    <div>
      <a href="{% url 'main:login' %}">Login</a>
      <a href="{% url 'main:register' %}">Register</a>
    </div>
  {% endif %}
</nav>