{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Venue List</button></a></p>


<h1>{{ venue.name }}</h1>


<p><b>City:</b> {{ venue.CityName }}</p>
<p><b>Street:</b> {{ venue.StreetName }}</p>
<p><b>Leisure:</b> {{ venue.leisure }}</p>

<p><b>Price per hour:</b>
  {% if venue.price_per_hour %}
    Rp {{ venue.price_per_hour|intcomma }}
  {% else %}
    (price not set)
  {% endif %}
</p>

{% if user.is_authenticated %}
  <p>
    <a href="{% url 'main:create_booking' venue.id %}">
      <button>Book Now</button>
    </a>
  </p>
{% else %}
  <p>
    <a href="{% url 'main:login' %}?next={% url 'main:create_booking' venue.id %}">
      <button>Login to Book</button>
    </a>
  </p>
{% endif %}

{% endblock content %}
